{% extends "layout.html" %}
{% block content %}

    <div class="cameras">
        <h2 class="cameras-title">Камеры в режиме реального времени</h2>
        {% if image and not video %}
        <img src="/images/{{ image }}" alt="image" style="width: 880px;height: 480px;">
        {% else %}
        <!-- <img src="assets/video-main.png" alt="" /> -->
            {% if video %}
                <img src="http://31.148.136.80:8080/video_pipe" alt="video" style="width: 880px;height: 480px; />
            {% endif %}
        {% endif %}
        <input class="search-bar" type="text" placeholder="Поиск по камерам">
          <div class="cameras-row">
            <div id="container" style="display: none;">
                <div id="slider">
                  <div id="slide">
                    <div class="content-card mr-5 alt">
                      <div class="poster">
                          <img class="news-poster" src="assets/video1.png" alt="">
                      </div>
                    </div>
                    <div class="content-card  mr-5">
                        <div class="poster">
                            <img class="news-poster" src="assets/video1.png" alt="">
                        </div>
                    </div>
                    <div class="content-card mr-5">
                        <div class="poster">
                            <img class="news-poster" src="assets/video1.png" alt="">
                        </div>
                    </div>
                    <div class="content-card mr-5">
                        <div class="poster">
                            <img class="news-poster" src="assets/video1.png" alt="">
                        </div>
                    </div>
                    <div class="content-card mr-5">
                        <div class="poster">
                            <img class="news-poster" src="assets/video1.png" alt="">
                        </div>
                    </div>
                    <div class="content-card">
                        <div class="poster">
                            <img class="news-poster" src="assets/video1.png" alt="">
                        </div>
                    </div>
                  </div>
        </div>



        <div class="nav-buttons" id="placer">
            <button class="left-btn nav-button" id="next-button"></button>
            <button class="ml-3 right-btn nav-button" id="previous-button"></button>
        </div>

    </div>
    </div>

        <div class="upload-video">
        <a name="upload"><h3>Загрузите видео или картинку для проверки на наличие возгораний</h3></a>
        <br>
            <form id="upload-image-form" action="/upload" method="post" enctype="multipart/form-data">
                <input id="file-upload" type="file" name="file"/>
                <button class="openMap" id="" type="submit">Обработать</button>

            </form>
      </div>
    </div>

{% endblock %}