<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container-fluid">
      <div class="navigation-bar">
          <a href="/">
                    <img src="assets/logo.svg" alt=""></a>
                <button class="callOperator" type="submit">Оповещение диспетчера</button>
      </div>
    </div>



    {% block content %}

    {% endblock %}

    <div class="menu">
        <div class="menu-card">
            <a href="https://t.me/FireVision_DragonIT_bot">
            <button class="rect">
                <img class="bot-img" src="assets/bot.svg" alt="">
                <h3 class="h3-menu">Подключить бота</h3>
            </button>
                </a>
        </div>
        <div class="menu-card">
            <button onclick="openInNewTabOne('analytics.html');" class="rect">
                <img class="video-img" src="assets/multimedia.svg" alt="">
                <h3 class="h3-menu">Анализ видео</h3>
            </button>
        </div>
        <div class="menu-card">
            <button onclick="openInNewTabTwo('statistics.html');" class="rect">
                <img class="video-img" src="assets/analytics.svg" alt="">
                <h3 class="h3-menu">Просмотр статистики</h3>
            </button>
        </div>
    </div>

    <script src="js/jquery.js"></script>
    <script src="js/main.js"></script>

    <script>

function openInNewTab(url) {
 window.open(url).focus();
}

function openInNewTabOne(url) {
 window.open(url).focus();
}

function openInNewTabTwo(url) {
 window.open(url).focus();
}


        containerWidth = document.getElementById("container").clientWidth;
nextButton = document.getElementById("next-button");
previousButton = document.getElementById("previous-button");
slide = document.getElementById("slide");

firstCardLeftMargin = 10;
cardWidthAndRightMargin = 120 + 10;
totalWidth = slide.clientWidth;

const transformSlide = (val) => {
  slide.style.transform = `translate(${val}px,0px)`;
};

const getCurrentPosition = () => {
  const stringValue = slide.style.transform;
  const transformValue = stringValue.substring(
    stringValue.indexOf("(") + 1,
    stringValue.lastIndexOf("p")
  );
  return transformValue ? parseInt(transformValue) : 0;
};

const getNextPosition = () => {

  const currentPosition = getCurrentPosition();

  const lastVisiblePixel = containerWidth + -1 * currentPosition;

  const lastFullyVisibleCard = Math.floor(
    (lastVisiblePixel - firstCardLeftMargin) / cardWidthAndRightMargin
  );

  const distanceToNextCard =
    lastFullyVisibleCard * cardWidthAndRightMargin + firstCardLeftMargin;
  if (distanceToNextCard + containerWidth > totalWidth) {
    return totalWidth - containerWidth + firstCardLeftMargin;
  }
  return distanceToNextCard - 10;
};

const getPreviousPosition = () => {
  const currentPosition = getCurrentPosition();

  const firstPartiallyVisibleCard = Math.floor(
    (-1 * currentPosition - firstCardLeftMargin) / cardWidthAndRightMargin
  );

  const distanceToCardEndFromSlideStart =
    firstPartiallyVisibleCard * cardWidthAndRightMargin + firstCardLeftMargin;

  const distanceNeeded = distanceToCardEndFromSlideStart - containerWidth;

  if (distanceNeeded > 0) {
    return -distanceNeeded;
  }

  return 0;
};

nextButton.addEventListener("click", (event) => {
  transformSlide(-getNextPosition());
});

previousButton.addEventListener("click", (event) => {
  transformSlide(getPreviousPosition());
});

    </script>
</body>
</html>