{% extends "layout.html" %}
{% block content %}

    <div class="title-under-nav">
        <h1>Умная система <br> распознавания пожара</h1>
        <img class="line" src="assets/line.svg" alt="">
        <h3>Совершенно новый взгляд на предотвращение лесных пожаров</h3>
        <button onclick="openInNewTab('/map');" class="openMap">Открыть карту</button>

        <img class="arrow-under-nav" src="assets/arrow.svg" alt="">
    </div>

    <div class="cameras">
        <h2 class="cameras-title">Камеры в режиме реального времени</h2>
    <div class="container">
    <div class="container-20 d-none">z
    </div>
        <div class="container-600">
        {% if image %}
        <img src="/images/{{ image }}" alt="" style="width: 680px;height: 380px;">
        {% else %}
        <!-- <img src="assets/video-main.png" alt="" /> -->
            <img src="/video_feed" alt="" style="width: 880px;height: 480px;"/>
            <!--<img src="http://31.148.136.80:8080/video_pipe" alt="" style="width: 680px;height: 380px;"/>-->
        {% endif %}
        </div>
    <div class="container-20 d-none">z
    </div>
    </div>
        <input class="search-bar" type="text" placeholder="Поиск по камерам">
          <div class="cameras-row">
            <div id="container" style="display: none;">
                <div id="slider">
                  <div id="slide">
                    <div class="content-card mr-5 alt">
                      <div class="poster">
                          <img class="news-poster" src="assets/video1.png" alt="">
                      </div>
                    </div>
                    <div class="content-card  mr-5">
                        <div class="poster">
                            <img class="news-poster" src="assets/video1.png" alt="">
                        </div>
                    </div>
                    <div class="content-card mr-5">
                        <div class="poster">
                            <img class="news-poster" src="assets/video1.png" alt="">
                        </div>
                    </div>
                    <div class="content-card mr-5">
                        <div class="poster">
                            <img class="news-poster" src="assets/video1.png" alt="">
                        </div>
                    </div>
                    <div class="content-card mr-5">
                        <div class="poster">
                            <img class="news-poster" src="assets/video1.png" alt="">
                        </div>
                    </div>
                    <div class="content-card">
                        <div class="poster">
                            <img class="news-poster" src="assets/video1.png" alt="">
                        </div>
                    </div>
                  </div>
        </div>



        <div class="nav-buttons" id="placer">
            <button class="left-btn nav-button" id="next-button"></button>
            <button class="ml-3 right-btn nav-button" id="previous-button"></button>
        </div>

    </div>
    </div>

        <div class="upload-video">
            <a name="upload"><h3>Загрузите видео или картинку для проверки на наличие возгораний</h3></a>
        <br>
            <form id="upload-image-form" action="/upload" method="post" enctype="multipart/form-data">
                <input id="file-upload" type="file" name="file"/>
                <button class="openMap" id="" type="submit">Обработать</button>

            </form>
      </div>
    </div>





{% endblock %}