
{% extends "layout.html" %}
{% block content %}

    <script src="https://api-maps.yandex.ru/2.1/?apikey=6aa3634d-195a-49a2-b56f-6ae48e49bf7e&lang=ru_RU" type="text/javascript">
    </script>
    <script src="https://yastatic.net/s3/mapsapi-jslibs/area/0.0.1/util.calculateArea.min.js" type="text/javascript"></script>
    <script src="http://yandex.st/jquery/1.6.4/jquery.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>


        <script type="text/javascript">
    </script>
    <style>
    #map {
        width: 80%; height: 600px; padding: 0px; margin: auto;
    }
</style>

    <div class='container'>
    <div id="geometry"/></div>
<input type="button" value="Завершить редактирование" id="stopEditPolyline"/>
<div id="map" ></div>
    </div>




{% endblock %}